alias c="clear && printf '\e[3J'"
alias rmrf='rm -rf'
alias zshrc='vi ~/.zshrc && source ~/.zshrc'
alias vimrc='vi ~/.vimrc'
alias x=exit
alias aliases='vi ~/.aliases && source ~/.zshrc'
alias ia='open $1 -a /Applications/iA\ Writer.app'
alias batt='pmset -g batt | grep -Eo "\d+%"'

alias jmt='cd ~/jira-migration-target'
alias mvnon='mv ~/.m2/settings.xml.bak ~/.m2/settings.xml'
alias mvnoff='mv ~/.m2/settings.xml ~/.m2/settings.xml.bak'
alias install='brew install --cask'
