alias c="clear && printf '\e[3J'"
alias rmrf='rm -rf'
alias zshrc='vi ~/.zshrc && source ~/.zshrc'
alias vimrc='vi ~/.vimrc'
alias x=exit
alias aliases='vi ~/.aliases && source ~/.zshrc'
alias ia='open $1 -a /Applications/iA\ Writer.app'
alias install='brew install --cask'
alias bat='bat -pp'
alias tree2='tree -L 2'
alias otter='cd /Users/bharat/Dropbox/Apps/Otter'
ndir() {
  mkdir $1 && cd $1
}
alias nano='/opt/homebrew/bin/nano'
